%ul{ class: "nav nav-tabs" }
  %li{ class: "active"} 
    %a Alle
  - @categories.each do |category|
    %li
      %a= category.name
#rankings
  %svg#ranking
    %g
      %g.graphs
      %g.grid
      %g.axis.x
      %g.axis.y
