#category-tabs
  %ul
    - @categories.each do |category|
      %li
        %a= category.name
  %ul
    - @applications.each do |application|
      = link_to application, application
#rankings
  %svg#ranking
