#application{ 'data-id' => @application.id }
  %h1=@application.name
  = link_to 'Vote', vote_application_path(@application)
  #votings
    %svg#graph
      %g.charts
      %g.grid
      %g.axis.x
      %g.axis.y
